/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 28, 2015, 11:31:30 AM
    Author     : Govind
*/

.loading-container {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.6);
    z-index: 100000;
}
.loading-container .loader {
    left: 0;
    top: 40%;
    text-align: center;
    background: transparent;
    height: 20%;
    z-index: 999999;
    border-radius: 5px;
    color: white;
    padding-top: 0%;
    color: #8B8B8B;
    position: relative;
    width: 100%;
    background-color: rgba(0,0,0,.8);
    padding: 20px;
}

.loadertext {
    margin-top: 5px;
    font-size: 20px;
}